## PROJECT::GENERAL
coverage
rdoc
*.dat
tmp/restart.txt
backup.db
config/env.yml
public/screenshots
public/assets
logfile
db/*.sqlite3
db/backups/*
doc
.sass-cache/
vendor/ruby
vendor/bundler
!.bundle
.env
uploads
.tddium*
