defaults: &defaults
  ENV_YAML: true
  REDISCLOUD_URL:        'ASK REMY'
  REDIS_PROVIDER:        'REDISCLOUD_URL'
  S3_ACCESS_KEY_ID:      'ASK REMY'
  S3_SECRET_ACCESS_KEY:  'ASK REMY'
  S3_SCREENSHOTS_BUCKET: 'ASK REMY'

development:
  <<: *defaults

test:
  <<: *defaults

staging:
  <<: *defaults