.view {
  position: absolute;
  display: block;
  -webkit-transform-style: preserve-3d;
}

.viewflat {
  position: absolute;
  display: block;
  -webkit-transform-style: preserve-3d;
}

.fader {
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 550ms;
  -webkit-transition-timing-function: ease-in-out;
}

.page {
  -webkit-perspective: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.page.view {
  top:0;
  left:0;
}

div.origin {
  left: 51%;
  top: 50%;
}

div#camera {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 5s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.6, 0.9);
  -webkit-transform: translate3d(0, 0, 0);
}

div#dolly {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 550ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform: translate3d(0, 0, 0);
}

div.cell.reflection {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
/*  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.25, transparent), color-stop(1.0, rgba(255, 255, 255, 0.5)));*/
}

div.cell {
  -webkit-transition-property: -webkit-transform opacity;
  -webkit-transition-duration: 550ms;
  -webkit-transform: translate3d(0, 0, 0);
}

div.cell img {
  display: block;
  position: absolute;
  -webkit-transition-property: -webkit-transform /* PERF -webkit-box-shadow */ /* border-color */;
  -webkit-transition-duration: 550ms;
  -webkit-transform: translate3d(0, 0, 0);
}

div.original img {
/*  border: 1px solid transparent;*/
}

div.original.selected img {
/* PERF*/
/*  -webkit-box-shadow: 0px 0px 35px #000;*/

/*  border-color: #000;*/
}

.mover {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 550ms;
}

div.original.selected .mover {
  -webkit-transform: translate3d(0, 0, 40px);
}

div.original.selected.magnify .mover {
  -webkit-transform: translate3d(0, 0, 310px);
}

div.original.selected.magnify img {
/*  -webkit-transform: scale(1.9);*/
}

#info_bar {
  position:fixed;
  width:100%;
  height:80px;
  background:#000;
  bottom:0;
  left:0;
  z-index:3;
  text-align:center;
}

#info_bar a.admin_link {
  display:inline-block;
  font-size:30px;
  font-family:"Pictos Custom";
  position:absolute;
  top:30px;
  left:20px;
  opacity:0.2;
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
}

#info_bar a.admin_link:hover {
  opacity:1;
}

#info_bar a.site_link {
  font-size:30px;
  font-weight:bold;
  font-style:italic;
  display:inline-block;
  line-height:30px;
  padding:21px 20px;
}

#info_bar .usage_info {
  position:absolute;
  right:20px;
  top:16px;
  text-align:left;
}

#info_bar .usage_info ul {
  list-style-type:none;
}

#info_bar .usage_info li span.i_f {
  font-size:22px;
  top:4px;
  width:27px;
}

#info_bar .usage_info li em {
  font-size:15px;
}

a.external_link {
  position:absolute;
  bottom:-50px;
  left:0px;
  z-index:3;
  font-size:30px;
  font-weight:bold;
  font-style:italic;
  display:block;
  line-height:30px;
}

.magnify a.external_link, .magnify ul.info {
  opacity:0;
}

ul.info {
  list-style-type:none;
  position:absolute;
  bottom:-110px;
  text-align:left;
}

ul.info li {
  display:block;
  padding:2px 0;
}

ul.info li span.i_f, .usage_info span.i_f {
  font-family:"Pictos Custom";
  display:inline-block;
  width:22px;
  font-size:20px;
  position:relative;
  top:2px;
}

ul.info li em, .usage_info li em {
  font-style:normal;
  font-weight:bold;
  opacity:0.5;
  display:inline-block;
}